ACCESS_TOKEN=pat-na2-xxxxxxx
CLIENT_ID=f2-xxxxxxx
CLIENT_SECRET=a3xxxxxxx
SQL_SERVER=SERVER-Name\INSTANCE-Name
DATABASE=database
SQL_USER=username
SQL_PASSWORD=pass@word
DRIVER=ODBC Driver 17 for SQL Server
